@inherits AppBase

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<base href="/" />
	@*     <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="AWC.UI.styles.css" /> *@
	<link rel="icon" type="image/png" href="assets/images/favicon.ico" />

	<title>Army War College, MHOW</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap.offcanvas.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="assets/css/featherlight.min.css">
	<link rel="stylesheet" href="assets/css/hover.min.css">
	<link rel="stylesheet" href="assets/css/core.css">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">

	<link rel="stylesheet" href="assets/css/main.css">

	<link href="/assets/js/sweetalert2/sweetalert2.min.css" rel="stylesheet" />


	<HeadOutlet />
</head>

<body>
	<CascadingAuthenticationState>
		<Router AppAssembly="@typeof(App).Assembly">
			<Found Context="routeData">
				<AuthorizeView>
					<Authorized>
						<AuthorizeRouteView RouteData="@routeData"
											DefaultLayout="@typeof(AuthorizedLayout)" />
					</Authorized>
					<NotAuthorized>
						<RouteView RouteData="@routeData"
								   DefaultLayout="@typeof(MainLayout)" />
					</NotAuthorized>
				</AuthorizeView>
				<FocusOnNavigate RouteData="@routeData" Selector="h1" />
			</Found>
			<NotFound>
				<RedirectToUnderConstruction />
			</NotFound>
		</Router>
	</CascadingAuthenticationState>

	<script src="_framework/blazor.web.js"></script>


	<script src="assets/js/jquery-3.2.0.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap-datepicker.min.js"></script>
	<script src="assets/js/bootstrap-select.min.js"></script>
	<script src="assets/js/featherlight.min.js"></script>
	<script src="assets/js/bootstrap.offcanvas.min.js"></script>
	<script src="assets/js/main.js"></script>

	<script src="/assets/js/sweetalert2/sweetalert2.all.min.js"></script>
	<script src="/assets/js/custom.js"></script>
	<script src="/assets/js/campus-core.js"></script>
	<script src="/assetsjs/campus-streams.js"></script>

	<!-- Just before closing </body> tag -->
	<script src="assets/btsp/bootstrap.bundle.min.js"></script>
</body>

</html>


